<title>Checklist Upload</title>
<style>
    body {
        padding: 10px 30px;
    }
</style>
<form id="doc-form" name="doc-form" method="post" action="/googlemerchant/upload/handler" enctype="multipart/form-data">
    <label>Upload Checklist</label>
    <input type="file" title="File" name="docname">
    <button type="submit" title="Save"><span>Upload</span></button>
</form>