<style>
    #merchant_tips {width: 100%; font-size: 14px;}
    #merchant_tips tr td {}
    #merchant_tips tr td:nth-child(3) {padding-left: 1%;width: 30%;overflow: hidden;}
    #merchant_tips tr td:nth-child(2) {padding-left: 1%;width: 20%;overflow: hidden;}
    #merchant_tips ol {margin-left: 15px;list-style-type: decimal;}
    #merchant_tips ol li {margin-bottom: 12px;}
    #merchant_tips ol ul {list-style-type: circle;margin-left: 20px;}
    #merchant_tips img {display: inline-block;max-width: 100%;height: auto;}
    #merchant_tips th:nth-child(2), #merchant_tips th:nth-child(3) {padding-left: 15px;}
</style>
<table id="merchant_tips" cellspacing="5">
    <thead>
        <tr>
            <th>Пояснения</th>
            <th>Ссылки</th>
            <th>Чеклист</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <ol>
                    <li>При редактировании csv-файла чеклиста обязательно строго соблюдать порядок ячеек и ни в коем случае не объединять их.</li>
                    <li>Названия колонок участвующих в работе скриптов:
                        <ul>
                            <li>marker - указание состояния нашей категории</li>
                            <li>vpvcomm_id - номер нашей конечной категории</li>
                            <li>vpvcomm_chain - цепочка до нашей конечной категории</li>
                            <li>google_id - номер google категории</li>
                            <li>google_chain - цепочка google категории</li>
                        </ul>
                    </li>
                    <li>Чеклист разбит на три части: 1) однозначно совпавшие, 2) возможность выбрать и 3) обязательная ручная правка.</li>
                    <li>Вносить правки в чек лист необходимо в строки начинающиеся с маркера
                        <b>vpvcomm-somevars</b> или <b>vpvcomm-required</b> в столбец <b>google_id</b>, и если надо - в <b>google_chain</b></li>
                </ol>
            </td>
            <td>
                <h4>Google Merchant Категории по-русски</h4>
                <p>
                    <a href="https://www.google.com/basepages/producttype/taxonomy.ru-RU.txt"
                       target="_blank">в TXT формате - просмотр в браузере</a>
                </p>
                <p>
                    <a href="https://www.google.com/basepages/producttype/taxonomy.ru-RU.xls"
                       target="_blank">в Excel формате - скачать</a>
                </p>
                <p>
                    <a href="https://support.google.com/merchants?hl=ru#topic="
                       target="_blank">Справочный центр</a>
                </p>
                <p>
                    <a href="Спецификация данных о товарах"
                       target="_blank">Спецификация данных о товарах</a>
                </p>
            </td>
            <td>
                <a target="_blank" href="http://img-fotki.yandex.ru/get/198569/13223519.165/0_af460_52adc6d_orig.png">
                    <img alt="" src="http://img-fotki.yandex.ru/get/198569/13223519.165/0_af460_52adc6d_L.png">
                </a>
            </td>
        </tr>
    </tbody>
</table>

<script>

    function openPopup () {
        var newWin = window.open("/adminmerchant/upload/index",
            "Upload File",
            "width=600,height=300,top=150,left=80,resizable=yes,scrollbars=yes,status=yes"
        )
        newWin.focus();
    }

</script>
<script>
    jQuery(document).ready(function(){
        jQuery('' +
            '#vpvcomm_googlemerchant_agm_checklist_checklist_dirpath, ' +
            '#vpvcomm_googlemerchant_agm_checklist_checklist_filename').attr('disabled','disabled');
        var butt = 'vpvcomm_googlemerchant_agm_checklist_checklist_file';
        jQuery('#'+butt).val('Open Window');
        jQuery('#'+butt).css({'padding':'10px'});
        jQuery('#'+butt).click(openPopup);
    });
</script>